    .portfolio {
      display: flex;
      flex-wrap: wrap;


    }
    .portfolio-item {
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      width: 33.333%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      cursor: pointer;
    }
	
@media (max-width: 768px) {
   .portfolio-item {
	width :50%;
  }
}
		
    .portfolio-item img {
      width: 100%;
      height: auto;
    }
    .portfolio-item h3 {
      margin: 0;
      padding: 1rem;
      background-color: #f4f4f4;
    }
    .portfolio-item p {
      padding: 1rem;
    }



